services:
  app:
    build: .
    container_name: reserva_app
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

  postgres:
    image: postgres:16
    container_name: reserva_postgres
    environment:
      POSTGRES_DB: reservasdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha_forte
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
